.app {

}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.appLogo {
    max-width: 150px;
    margin-left: 150px;
}

.toolbarInfo {
    display: flex;
    align-items: center;
    margin-right: 150px;
}
.toolbarInfo img {
    width: 60px;
    border-radius: 50%;
}