.app {

}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.toolbar button {
    border-radius: 20px;
    margin-right: 150px;
}

.appLogo {
    max-width: 150px;
    margin-left: 150px;
}
