/*==================================Fonts=======================================*/
@font-face {
    font-family: 'PoppinsExtraLight';
    src: url('common/fonts/AnyConv.com__Poppins-ExtraLight.woff2') format('woff2'),
    url('common/fonts/AnyConv.com__Poppins-ExtraLight.woff') format('woff'),
    url('common/fonts/AnyConv.com__Poppins-ExtraLight.eot') format('embedded-opentype'),
    url('common/fonts/Poppins-ExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PoppinsMedium';
    src: url('common/fonts/AnyConv.com__Poppins-Medium.woff2') format('woff2'),
    url('common/fonts/AnyConv.com__Poppins-Medium.woff') format('woff'),
    url('common/fonts/AnyConv.com__Poppins-Medium.eot') format('embedded-opentype'),
    url('common/fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/*===================================Сброс стилей==============================*/
html {
    box-sizing: border-box;
    font-size: 14px;

}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*================================================================================*/

body {
    font-family: 'Book Antiqua';
    margin: 0;
    background: #f3f3f3;
}
